<!DOCTYPE html>
<html>
	{% include head.html %}

	<body class="index loading">
		<div class="alt">
		{% include header.html %}
	</div>
		
		<!-- Banner -->		
			<section id="banner">
				
				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<header>
					  <h2>euroclojure</h2>
					</header>
					<p>october 25-26, 2016<br>
					  Bratislava, Slovakia<br>
				  </p>
					<footer>
						<img src="images/clojure.png" height="149" width="150" alt="Clojure"/>
						<br>
						<br>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
						</ul>
					</footer>
				
				</div>
				
			</section>
		
			<!-- Main -->
			<article id="main">

							<header class="special container">
								<span class="icon logo"><img src="images/euro-logo.png"/></span>
								<h2>About EuroClojure</h2>
								<p>EuroClojure is the largest Clojure conference in Europe and draws developers from all over the continent to gather and learn what is happening with the language, in the community, and within organizations using Clojure.</p>
								<br/>
								<p>This year's event will be held in Bratislava, Slovakia from October 25-26.  EuroClojure offers a great mix of experienced Clojurists and new adopters and everyone can find something to suit their needs.</p>

							<!--	
								<h2>Call for Presentations</h2>
								<p>The EuroClojure <a href="cfp">Call for Presentations</a> is open until Aug 5th!</p>
								<br/>
								-->

								<!--
								<h2>Registration</h2>
								<p>Regular registration ($400) is available until March 25th.<br/>
									Late registration ($460) begins March 26th.<br/> 
									Pre-conference <a href="training">training</a> is available for Clojure (2 days, $300) and Datomic (1 day, $200).</p>
								<br/>
								-->
<!--
								<h2>Opportunity Grants</h2>
								<p>The EuroClojure <a href="opportunity">Opportunity Grants</a> are open until July 29th!<br/>
									Opportunity grants support community members from underrepresented groups who would not<br/>
									otherwise be able to attend the conference for financial reasons.</p>
									<br/>
-->
			
								<ul class="buttons">
					 			  <li><a href="https://ti.to/cognitect/euroclojure-2016" class="button special">register</a></li>
								  <!--	<li><a href="cfp" class="button special">submit talk</a></li> -->
								  <!--	<li><a href="opportunity" class="button special">opportunity grant</a></li> -->
					 			  <li><a href="sponsorship" class="button special">become a sponsor</a></li>
								  <li><a href="http://go.cognitect.com/l/46282/2016-01-04/2ny9hj" class="button special">mailing list</a></li>
							 	</ul>
								
							</header>
			
				<!-- One -->        	        
				<section class="wrapper style3 container special">
				<h2><a name="schedule"></a>schedule</h2>
								<header><h3>tuesday, october 25</h3></header>
								<table><tbody>
									<tr>
										<td class="time">8:30-9:50 am</td>
										<td class="slot recess">
											<div class="title">Registration</div>
										</td>
									</tr>
									<tr>
										<td class="time">9:50-10:00 am</td>
										<td class="slot talk">
											<div class="title">Welcome</div>
										</td>
									</tr>
									<tr>
										<td class="time">10:00-10:40 am</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#dnolen">TBA</a></div>
											<div class="speaker">David Nolen</div>
										</td>
									</tr>
									<tr>
										<td class="time">10:50-11:30 am</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#ddjuric">Clojure is Not Afraid of the GPU</a></div>
											<div class="speaker">Dragan Djuric</div>
										</td>
									</tr>
									<tr>
										<td class="time">11:30-11:50 am</td>
										<td class="slot recess">
											<div class="title">Break</div>
										</td>
									</tr>									
									<tr>
										<td class="time">11:50-12:30 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#sbelak">Living with spec</a></div>
											<div class="speaker">Simon Belak</div>
										</td>
									</tr>
									<tr>
										<td class="time">12:40-1:20 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#jgiordano">A Tale of ClojureScript in Production at a Payment Company</a></div>
											<div class="speaker">Jean-Louis Giordano</div>
										</td>
									</tr>
									
									<tr>
										<td class="time">1:20-2:40 pm</td>
										<td class="slot recess">
											<div class="title">Lunch (provided)</div>
										</td>
									</tr>
									<tr>
										<td class="time">2:40-3:20 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#pbrachwitz">Clojure is a Foreign Country: Combining Datomic with Scala</a></div>
											<div class="speaker">Peter Brachwitz</div>
										</td>
									</tr>
									<tr>
										<td class="time">3:30-4:10 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#eweinstein">Machine Learning with Clojure and Apache Spark</a></div>
											<div class="speaker">Eric Weinstein</div>
										</td>
									</tr>
									<tr>
										<td class="time">4:10-4:40 pm</td>
										<td class="slot recess">
											<div class="title">Break</div>
										</td>
									</tr>
									<tr>
										<td class="time">4:40-5:20 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#mgier">ClojureBridge Europe</a></div>
											<div class="speaker">Malwine Gier, Arne Brassuer</div>
										</td>
									</tr>									
									<tr>
										<td class="time">5:30-6:10 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#tneuhalfen">GeoRepl - Interactive Geometry with Clojure</a></div>
											<div class="speaker">Thomas Neuhalfen</div>
										</td>
									</tr>

									<tr>
										<td class="time">8:00-11:00 pm</td>
										<td class="slot talk">
											<div class="title"><a href="https://github.com/euroclojureorg/euroclojure2016/wiki/Unsessions">Unsessions</a></div>
											<div class="title">Old Market Hall (Balcony Area)</div>
										</td>
									</tr>
								</tbody></table>

								<header><h3>wednesday, oct 26</h3></header>
								<table><tbody>
									<tr>
										<td class="time">9:50-10:00 am</td>
										<td class="slot talk">
											<div class="title">Announcements</div>
										</td>
									</tr>
									<tr>
										<td class="time">10:00-10:40 am</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#mmarczyk">Priority Search Queues: 1.5-dimensional Tree Search</a></div>
											<div class="speaker">Michał Marczyk</div>
										</td>
									</tr>
									<tr>
										<td class="time">10:50-11:30 am</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#mpearson">Communicating Risk Reactively</a></div>
											<div class="speaker">Mike Pearson</div>
										</td>
									</tr>
									<tr>
										<td class="time">11:30-11:50 am</td>
										<td class="slot recess">
											<div class="title">Break</div>
										</td>
									</tr>									
									<tr>
										<td class="time">11:50-12:30 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#dlebrero">Automating Resilience Testing with Clojure and Docker</a></div>
											<div class="speaker">Daniel Lebrero</div>
										</td>
									</tr>
									<tr>
										<td class="time">12:40-1:20 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#mreitzenstein">Bare Metal Clojure with clojure.spec</a></div>
											<div class="speaker">Michael Reitzenstein</div>
										</td>
									</tr>
									<tr>
										<td class="time">1:20-2:40 pm</td>
										<td class="slot recess">
											<div class="title">Lunch (provided)</div>
										</td>
									</tr>
									<tr>
										<td class="time">2:40-3:20 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#ssriraman">Making Machines that Make Music</a></div>
											<div class="speaker">Srihari Sriraman</div>
										</td>
									</tr>
									<tr>
										<td class="time">3:30-4:10 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#fpeschanski">Live-coding Mathematics: Your First Clojure Proof</a></div>
											<div class="speaker">Frederic Peschanski</div>
										</td>
									</tr>
									<tr>
										<td class="time">4:20-5:00 pm</td>
										<td class="slot talk">
											<div class="title"><a href="speakers#djanus">A Case Study of Natural Language Processing in Clojure</a></div>
											<div class="speaker">Daniel Janus</div>
										</td>
									</tr>
									<tr>
										<td class="time">5:10-6:00 pm</td>
										<td class="slot keynote">
											<div class="title"><a href="speakers#cmeier">Keynote: Genetic Programming with clojure.spec</a></div>
											<div class="speaker">Carin Meier</div>
										</td>
									</tr>
									<tr>
										<td class="time">8:00-11:00 pm</td>
										<td class="slot recess">
											<div class="title">After Party at <a href="http://www.klubdole.sk/">Klub Dole</a></div>
											<div class="title">Námestie SNP 30 Bratislava 811 03</div title>
											<div class="title">Cash bar only</div>
										</td>
									</tr>
								</tbody></table>

				      <ul class="buttons">
					      <li><a href="speakers" class="button">list of speakers</a></li>
				      </ul>

					</section>
				
				<!-- Three -->
					<section class="wrapper style3 container special">
						<div class="row">
							<div class="12u">
								<section>
								<header>
								  <h3>venue</h3>
								</header>
								<a href="http://staratrznica.sk/" class="image"><img src="images/oldmarkethall.jpg" alt="Old Market Hall" class="logo" width="400"/></a>
								<p><a href="http://staratrznica.sk/">Old Market Hall</a> <br>
								<a href="http://staratrznica.sk/">Stará tržnica</a> <br>
								   Námestie SNP 25 <br>
								   811 01 Bratislava
								   Slovakia </p>
								</section>
							</div>
							<!--
							<div class="6u">								
								<section>
									<header>
									  <h3>hotel</h3>
									</header>
									<p>There is no hotel block but these are nearby:</p>
									<ul>
										<li><a href="http://www.nh-collection.com/hotel/nh-collection-barcelona-constanza">NH Constanza</a> (from &euro;160/night)</li>
										<li><a href="http://www.booking.com/hotel/es/hilton-barcelona.en-gb.html">Hilton Barcelona</a> (from &euro;170/night)</li>
										<li><a href="http://www.booking.com/hotel/es/albergue-pere-tarres.en-gb.html">Pere Tarrés Hostel</a> (from &euro;120/night)</li>
										<li><a href="http://classbedroom.com/">Class Bedroom Apartments</a> (from &euro;40/night)</li>
										<li><a href="https://www.airbnb.com/">Airbnb</a> (nearby areas: Les Corts, Sant Gervasi, Les Tres Torres)</li>
									</ul>
								</section>							
							</div>
								-->
						</div>
						<div class="row">
							<div class="6u">
								<section>
									<header>
									  <h3>getting there</h3>
									</header>
									<p><strong>By plane:</strong> Bratislava is served by two international airports: The M. R. Štefánik Airport, 9km from the city centre. Or Schwechat Airport (in Vienna), just 45 minutes to the Bratislava centre by bus or car.<br/>
										<strong>By train:</strong> Bratislava's main railway station is a 10 minute walk from the city centre. Services from Austria, Germany, Hungary and more, terminate here.<br/>
										<strong>By bus:</strong> Bus service from across Europe connects to Bratislava, with many services terminating at Bratislava's Central Bus Station at Mlynské nivy.</p>
								</section>
							</div>
							<div class="6u">								
								<section>
									<header>
									  <h3>getting around</h3>
									</header>
									<p>The venue is located in Old Town, with many attractions in walking distance. Bratislava has an extensive bus network with 60 routes by day and 18 at night. Additionally, 13 different tram lines service the city.</p>
								</section>							
							</div>
						</div>
						
						<div class="row">
							<div class="12u">
								<section>
									<header>
										<h3>code of conduct</h3>
									</header>
									<p>Euroclojure is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity, sexual orientation, disability, physical appearance, body size, race or religion. We do not tolerate harassment of conference participants in any form. </p>
									<p><a href="policies">Read the rest of the Code of Conduct</a></p>
								</section>
							</div>
						</div>
						
					</section>

					
				<!-- Sponsors -->
					<section class="wrapper style3 container special">

							<section>
								<header>
								  <h2>platinum sponsors</h2>
								</header>
							</section>
													
						<div class="row half">
							<div class="6u">
								<section> 
									<a href="https://vacuumlabs.com/" class="logo"><img src="images/sponsors/vacuum.png" alt="VacuumLabs" width="220" title="VacuumLabs" /></a>
								</section>
							</div>
							<div class="6u">
								<section> 
									<a href="http://www.uswitch.com/" class="logo"><img src="images/sponsors/uswitch.png" alt="uSwitch" height="140" title="uSwitch" /></a>
								</section>
							</div>
						</div>
							<section>
								<header>
								  <h2>gold sponsors</h2>
								</header>
							</section>

						<div class="row half">
							<div class="12u">
								<section> 
									<a href="https://juxt.pro/index.html" class="logo"><img src="images/sponsors/juxt.png" alt="JUXT" width="220" title="JUXT" /></a>
								</section>
							</div>
						</div>
												
							<section>
								<header>
								  <h2>silver sponsors</h2>
								</header>
							</section>
													
						<div class="row half">
							<div class="6u">
								<section> 
									<a href="http://www.metosin.fi/" class="logo"><img src="images/sponsors/metosin.png" alt="Metosin" width="220" title="Metosin" /></a>
								</section>
							</div>
							<div class="6u">
								<section> 
									<a href="https://tech.zalando.com" class="logo"><img src="images/sponsors/zalando.png" alt="Zalando" width="220" title="Zalando" /></a>
								</section>
							</div>
						</div>
						<div class="row half">
							<div class="6u">
								<section> 
									<a href="http://suprematic.net" class="logo"><img src="images/sponsors/suprematic.png" alt="Suprematic" height="140" title="Suprematic" /></a>
								</section>
							</div>
							<div class="6u">
								<section> 
									<a href="http://nilenso.com/" class="logo"><img src="images/sponsors/nilenso.png" alt="Suprematic" height="140" title="nilenso" /></a>
								</section>
							</div>
						</div>
						
							<section>
								<header>
								  <h2>supporting sponsors</h2>
								</header>
							</section>
								
						<div class="row half">
							<div class="12u">
								<section> 
									<a href="http://www.solita.fi/" class="logo"><img src="images/sponsors/solita.png" alt="Solita Oy" width="220" title="Metosin" /></a>
								</section>
							</div>
						</div>
						
							<section>
								<header>
								  <h2>lanyard sponsor</h2>
								</header>
							</section>
													
						<div class="row half">
							<div class="12u">
								<section> 
									<a href="https://dev.otto.de/" class="logo"><img src="images/sponsors/otto.jpg" alt="OTTO" width="220" title="OTTO" /></a>
								</section>
							</div>
						</div>

							<section>
								<header>
								  <h2>opportunity grant sponsors</h2>
								</header>
							</section>

						<div class="row half">
							<div class="12u">
								<section>
									<a href="http://zimpler.com/" class="logo"><img src="images/sponsors/zimpler.png" alt="Zimpler" width="220" title="Zimpler" /></a>
								</section>
							</div>
						</div>
					</section>		
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header>
				  <h2>Ready to <strong>join us</strong>?</h2>
				</header>
				<footer>
					<ul class="buttons">
					  <li><a href="https://ti.to/cognitect/euroclojure-2016" class="button special">register</a></li>
					  <li><a href="sponsorship" class="button special">sponsor</a></li>
					  <!--	<li><a href="cfp" class="button">submit talk</a></li> -->
					  <!-- <li><a href="opportunity" class="button">opp grant</a></li> -->
					  <li><a href="http://go.cognitect.com/l/46282/2016-01-04/2ny9hj" class="button special">mailing list</a></li>
					</ul>
				</footer>
			
			</section>	
		{% include footer.html %}
	</body>
</html>
