<!DOCTYPE html>
<html>
	{% include head.html %}

	<body class="index loading">
		<div class="alt">
		{% include header.html %}
	</div>
		
		<!-- Banner -->		
			<section id="banner">
				
				<!--
					".inner" is set up as an inline-block so it automatically expands
					in both directions to fit whatever's inside it. This means it won't
					automatically wrap lines, so be sure to use line breaks where
					appropriate (<br />).
				-->
				<div class="inner">
					
					<header>
					  <h2>euroclojure</h2>
					</header>
					<p>june 25-26, 2015<br>
					  Barcelona, Spain<br>
				  </p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
						</ul>
					</footer>
				
				</div>
				
			</section>
		
			<!-- Main -->
			<article id="main">
			
				<header class="special container">
					<span class="icon logo"><img src="images/euro-logo.png"/></span>
<!--					<span class="icon fa-bar-chart-o"></span> -->
					<h2>Join us for EuroClojure!</h2>
					<p>Currently we are seeking <a href="sponsorship">sponsors</a> and <a href="#cfp">speakers</a>!<br>
					   Early bird registration will open soon.</p>
				</header>
				<!-- One -->        
<!--				        
					<section class="wrapper style1 container special">
						  <h2>schedule</h2>
                          <div class="row">
							<div class="4u">
							
								<section>
									
									<img src="images/20.png" width="150" height="112" alt=""/>
									<header>
<h3>monday </h3>
									</header>
									<p>9 am-5 pm - Sessions<br>
									   7 pm-10 pm - Unsessions</p>
								</section>
							
							</div>
							<div class="4u">
							
								<img src="images/21.png" width="146" height="113" alt=""/>
								<section>
<header>
		    <h3>tuesday</h3>
								  </header>
									<p>9 am-5 pm - Sessions<br>
									   7 pm-10 pm - Party</p>
							  </section>
							
						  </div>
							<div class="4u">
							
								<img src="images/22.png" width="145" height="111" alt=""/>
								<section>
<header>
		    <h3>wednesday</h3>
									</header>
									<p>9 am-noon - Sessions</p>
								</section>
							
							</div>
						</div>

				      <ul class="buttons">
					      <li><a href="speakers" class="button">list of speakers</a></li>
				      </ul>

					</section>
-->
				
					<!-- Two -->

						<section class="wrapper style2 container special-alt">
							<div class="row half">
								<div class="8u">
							
									<a id="cfp"/>
									<header>
									  <h2>CALL FOR PRESENTATIONS IS OPEN<br>
								      </h2>
									</header>
									<p>Please submit your talks for EuroClojure in the areas of core language, libraries, tools, experience reports, ideas, or just something fun! Speakers receive free admission, up to &euro; 450 airfare, and 3 room nights at the conference hotel. The CFP closes Apr 20th with notification by Apr 29th.</p>
									<footer>
										<ul class="buttons">
											<li><a href="https://cognitect.wufoo.com/forms/euroclojure-2015-call-for-presentations/" class="button">Submit a talk</a></li>
										</ul>
									</footer>
							
								</div>
								<div class="4u skel-cell-important">
							
									<ul class="feature-icons">
										<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
									</ul>
							
								</div>				
							</div>
						</section>
					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
						  <h2><a id="location"/>location</h2>
						</header>
				
							<section>
								<a href="https://www.axa.es/acerca-axa/auditorio-y-centro-de-convenciones-auditorio-axa" class="image"><img src="images/auditorioaxa.jpg" alt="Auditorio AXA" /></a>
								<header>
								  <h3>&nbsp;<br>auditorio axa</h3>
								</header>
								<p>Av. Diagonal, 547 <br>
								   08029 Barcelona </p>
							</section>
							

						<div class="row">
							<div class="6u">
								
								<section> <a href="#" class="image feature"><img src="images/pic04.jpg" alt="hotel" width="400" title="hotel" /></a>
									<header>
									  <h3>hotel tbd</h3>
									</header>
									<p>tbd</p>
								</section>							
							
							</div>
							<div class="6u">
							
								<section>
									<a href="http://www.barcelona-airport.com/" class="image feature"><img src="images/airports.jpg" alt="airport" /></a>
									<header>
									  <h3>airport</h3>
									</header>
									<p> Barcelona-El Prat Airport (BCN) </p>
								</section>

							</div>
						</div>

						<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
						-->
							
					</section>
					
				<!-- Sponsors -->
<!--				
					<section class="wrapper style3 container special">

							<section>
								<header>
								  <h2>platinum sponsors</h2>
								</header>
							</section>
													
							<section>
								<header>
								  <h2>gold sponsors</h2>
								</header>
							</section>
						
						 	<section>
								<header>
								  <h2>silver sponsors</h2>
								</header>
							</section>
						
							<section>
								<header>
								  <h2>party sponsor</h3>
								</header>
							</section>
								
							<section>
								<header>
								  <h2>lanyard sponsor</h2>
								</header>
							</section>
						

						<!--
						<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>
						-->
<!--							
					</section>					
-->					
			</article>

		<!-- CTA -->
			<section id="cta">
			
				<header>
				  <h2>Ready to <strong>join us</strong>?</h2>
				</header>
				<footer>
					<ul class="buttons">
<!--					  <li><a href="#" class="button special">register</a></li> -->
					  <li><a href="https://cognitect.wufoo.com/forms/euroclojure-2015-call-for-presentations/" class="button">submit talk</a></li>
					  <li><a href="sponsorship" class="button">sponsor</a></li>
					</ul>
				</footer>
			
			</section>	
		-->
		{% include footer.html %}
	</body>
</html>
